{% extends 'Viajeros/base/base.html' %}

{% load static %}

{% block extra_css %}
  <!--   <link rel="stylesheet" href="{% static 'aula_virtual/css/alta_alumno.css' %}">   -->
{% endblock %}

{% block titulo %}{% endblock %}

{% block encabezado %}

{% endblock %}

{% block contenido %}

      {% if user.is_authenticated %}
        <h1>Ingrese los datos para la reserva</h1>
        <p><b>Tipo de reserva:</b>: Alojamiento</p>
        
        <form action="{% url 'enviar_reserva_hotel' %}" method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" class="btn btn-primary" value="ENVIAR RESERVA">
      </form>

      {% else %}
        <h2> Por favor ingrese con su usuario y contraseña antes de realizar la reserva</h2>
        <a href="{% url 'login' %}" class="btn btn-primary" > Continuar</a>

      {% endif %}

{% endblock %}