{% extends 'Viajeros/base/base.html' %}


{% load static %}

{% block extra_css %}
    <!-- <link rel="stylesheet" href="{% static 'aula_virtual/css/listar_instructores.css' %}"> -->
{% endblock %}

{% block titulo %}  {% endblock %}

{% block encabezado %}

{% endblock %}

{% block contenido %}
<section class="listado">
    Usuario: {{user.username}}
    <br>
    {% for reserva in listado_reservas %}
        <article>
            <br>
            <p><b>fecha de registracion:</b>: {{reserva.fecha_registracion}}</p>
            <p><b>fecha desde:</b>: {{reserva.fecha_desde}}</p>
            <p><b>fecha hasta:</b>: {{reserva.fecha_hasta}}</p>
            <p><b>Adultos:</b>: {{reserva.adulto}}</p>
            <p><b>Menores:</b>: {{reserva.menor}}</p>
            <p><b>Tipo de reserva:</b>: {{reserva.Tipo_reserva}}</p>
            <p><b>Hotel:</b>: {{reserva.hotel}}</p>

        </article>
        {% empty %}
            <p><b>No posee reservas registradas para este usuario</b>
        {% endfor %}
        </section>
        <a href="#" class="btn btn-primary">Modificar</a>
        
{% endblock %}